<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fev.shop.mapper.GoodsOptionMapper">
	
	<!-- [관리자] 상품 옵션 추가 -->
	<insert id = "addGoodsOption"
			parameterType = "com.fev.shop.vo.GoodsOption">
			
		INSERT INTO goods_option (
			goods_no
			, goods_option_content
			, goods_option_quantity
		) VALUE (
			#{goodsNo}
			, #{goodsOptionContent}
			, #{goodsOptionQuantity}
		)
			
	</insert>

</mapper>